<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 配置不拦截的资源 -->
    <security:http pattern="/login.jsp" security="none"/>
    <security:http pattern="/failer.jsp" security="none"/>
    <security:http pattern="/css/**" security="none"/>
    <security:http pattern="/img/**" security="none"/>
    <security:http pattern="/plugins/**" security="none"/>

    <!--
    	配置具体的规则
    	auto-config="true"：表示自动加载 springSecurity配置文件
    	use-expressions="true"：表示使用SPEL表达式配置 springSecurity
    -->
    <security:http auto-config="true" use-expressions="true">
        <!-- 配置拦截资源  pattern: /** 拦截所有资源 、access：访问资源需要具备的角色 -->
        <security:intercept-url pattern="/**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')"/>
        <!-- 配置认证页面可以匿名方法 -->
        <security:intercept-url pattern="/login.jsp" access="permitAll()"/>
        <!-- 定义跳转页面 -->
        <security:form-login
                login-page="/login.jsp"
                login-processing-url="/login"
                default-target-url="/index.jsp"
                authentication-failure-url="/failer.jsp"
                authentication-success-forward-url="/WEB-INF/pages/main.jsp"
        />
        <!-- 禁用 csrf 防护机制 -->
        <security:csrf disabled="true"/>
        <!-- 退出  invalidate-session：是否杀死session 退出路径 、 退出返回的页面 -->
        <security:logout invalidate-session="true" logout-url="/logout" logout-success-url="/login.jsp" />

        <!-- 开启 remember-me 过滤器，设置token存储时间为60秒 -->
        <security:remember-me
                data-source-ref="dataSource"
                token-validity-seconds="60"
                remember-me-parameter="remember-me"
        />

        <!-- 处理403异常 局限：只能处理 403权限不足异常-->
        <!--<security:access-denied-handler error-page="/403.jsp"/>-->

    </security:http>

    <!-- 配置 spring-security加密类 存入IOC容器 -->
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>

    <!-- 认证管理器：指定处理登录信息的Service -->
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userService">
            <!-- 配置认证使用的加密对象-->
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <!-- 开启权限控制的注解支持
      secured-annotations="enabled" springSecurity内部的权限控制注解开关
      jsr250-annotations="enabled" 开启JSR250注解支持
      pre-post-annotations="enabled" spring指定的权限控制注解开关
    -->
    <security:global-method-security
            secured-annotations="enabled"
            jsr250-annotations="enabled"
            pre-post-annotations="enabled"/>

</beans>